body{
    background-color: lavender;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav{
    text-align: center;
    padding: 0 0 10px 0;
}

nav a{
    margin-right: 5px;
    background-color: black;
    color: white;
    padding: 3px;
}

a:link{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.body{
    text-align: center;
}

.error {
    color: red;
    margin: 0;
    display: inline;
}
.header{
    font-size: 50px;
    color: #C71585;
}

.main {
    width: 50%;
    margin: 10px auto;
    padding: 10px;
    background-color: #F5FFFA;
    border-radius: 25px;
    overflow: auto;
    text-align: center;
}

.post{
    margin: 20px 0px;
    padding: 10px;
    background-color: #F0F8FF;
    border-radius: 25px;
}

.post a{
    color: #4682B4;
}

.post p{
    color: #DB7093;
}

.title{
    text-transform: uppercase;
    text-align: center;
}

.user_list a{
    color: #DB7093;
}