body{
    background-color: lavender;    
}

h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

nav{
    text-align: center;
}

nav a{
    margin-right: 5px;
    background-color: black;
    color: white;
    padding: 3px;
}

a:link{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.body{
    text-align: center;
}

.error {
    color: red;
    margin: 0;
    display: inline;
}
.header{
    font-size: 50px;
}

.main {
    width: 50%;
    margin: 10px auto;
    padding: 20px;
    text-align: center;
}

.post{
    margin: 20px 0px;
    padding: 10px;
    background-color: lightcyan;
}

.title{
    text-transform: uppercase;
    text-align: center;
}

.title_link{
    color: hotpink;
    text-transform: uppercase;
}
