body{
    background-color: lavender;    
}
.error {
    color: red;
    margin: 0;
}
h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.header{
    font-size: 50px;
}
.title{
    text-transform: uppercase;
    text-align: center;
}
.body{
    text-align: center;
}
nav a{
    margin-right: 5px;
    background-color: black;
    color: white;
    padding: 3px;
}
a:link{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

nav{
    text-align: center;
}
.main {
    width: 50%;
    margin: 10px auto;
    padding: 20px;
}
.title_link{
    color: hotpink;
    text-transform: uppercase;
}
.post{
    margin: 20px 0px;
    padding: 10px;
    background-color: lightcyan;
}